body {
  background: #000;
  color: #0f0;
  font-family: monospace;
  padding: 20px;
}

button, input {
  background: black;
  color: #0f0;
  border: 1px solid #0f0;
  padding: 5px;
  margin: 5px;
}

#terminal {
  margin-top: 15px;
  padding: 15px;
  height: 350px;
  overflow-y: auto;
  border: 1px solid #0f0;
}
